<?xml version="1.0"?>
<!--
/**
 * Copyright © Scalexpert.
 * This file is part of Scalexpert plugin for Magento 2. See COPYING.md for license details.
 *
 * @author    Scalexpert (https://scalexpert.societegenerale.com/)
 * @copyright Scalexpert
 * @license   https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <scalexpert_administration>
            <configuration>
                <plugin_version>1.7.0</plugin_version>
            </configuration>
        </scalexpert_administration>

        <scalexpert_support>
            <debug>
                <active>0</active>
            </debug>
        </scalexpert_support>

        <scalexpert_customisation>
            <warranty>
                <product>
                    <show_product_block>
                        <active>0</active>
                    </show_product_block>
                    <customize_product_block>
                        <active>1</active>
                    </customize_product_block>
                </product>
                <checkout_cart>
                    <customize_checkout_cart_block>
                        <active>1</active>
                    </customize_checkout_cart_block>
                </checkout_cart>
            </warranty>
            <e_funding>
                <payment_3x>
                    <product>
                        <show_product_block>
                            <active>0</active>
                        </show_product_block>
                        <customize_product_block>
                            <active>1</active>
                        </customize_product_block>
                    </product>
                </payment_3x>
                <payment_3x_with_fees>
                    <product>
                        <show_product_block>
                            <active>0</active>
                        </show_product_block>
                        <customize_product_block>
                            <active>1</active>
                        </customize_product_block>
                    </product>
                </payment_3x_with_fees>
                <payment_4x>
                    <product>
                        <show_product_block>
                            <active>0</active>
                        </show_product_block>
                        <customize_product_block>
                            <active>1</active>
                        </customize_product_block>
                    </product>
                </payment_4x>
                <payment_4x_with_fees>
                    <product>
                        <show_product_block>
                            <active>0</active>
                        </show_product_block>
                        <customize_product_block>
                            <active>1</active>
                        </customize_product_block>
                    </product>
                </payment_4x_with_fees>
                <long_credit_fr>
                    <product>
                        <show_product_block>
                            <active>0</active>
                        </show_product_block>
                        <customize_product_block>
                            <active>1</active>
                        </customize_product_block>
                    </product>
                </long_credit_fr>
                <long_credit_fr_with_fees>
                    <product>
                        <show_product_block>
                            <active>0</active>
                        </show_product_block>
                        <customize_product_block>
                            <active>1</active>
                        </customize_product_block>
                    </product>
                </long_credit_fr_with_fees>
                <long_credit_fr_without_fees>
                    <product>
                        <show_product_block>
                            <active>0</active>
                        </show_product_block>
                        <customize_product_block>
                            <active>1</active>
                        </customize_product_block>
                    </product>
                </long_credit_fr_without_fees>
                <long_credit_de>
                    <product>
                        <show_product_block>
                            <active>0</active>
                        </show_product_block>
                        <customize_product_block>
                            <active>1</active>
                        </customize_product_block>
                    </product>
                </long_credit_de>
                <long_credit_de_with_fees>
                    <product>
                        <show_product_block>
                            <active>0</active>
                        </show_product_block>
                        <customize_product_block>
                            <active>1</active>
                        </customize_product_block>
                    </product>
                </long_credit_de_with_fees>
            </e_funding>
        </scalexpert_customisation>
        <payment>
            <scalexpert_payment_3x>
                <payment_action>true</payment_action>
                <model>Scalexpert\Plugin\Model\Payment3x</model>
                <order_status>pending</order_status>
                <active>1</active>
                <title>Paiement en 3X</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </scalexpert_payment_3x>
            <scalexpert_payment_3x_with_fees>
                <payment_action>true</payment_action>
                <model>Scalexpert\Plugin\Model\Payment3xWithFees</model>
                <order_status>pending</order_status>
                <active>1</active>
                <title>Paiement en 3X avec frais</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </scalexpert_payment_3x_with_fees>
            <scalexpert_payment_4x>
                <payment_action>true</payment_action>
                <model>Scalexpert\Plugin\Model\Payment4x</model>
                <order_status>pending</order_status>
                <active>1</active>
                <title>Paiement en 4X</title>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
            </scalexpert_payment_4x>
            <scalexpert_payment_4x_with_fees>
                <payment_action>true</payment_action>
                <model>Scalexpert\Plugin\Model\Payment4xWithFees</model>
                <order_status>pending</order_status>
                <active>1</active>
                <title>Paiement en 4X</title>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
            </scalexpert_payment_4x_with_fees>
            <scalexpert_long_credit_fr>
                <payment_action>true</payment_action>
                <model>Scalexpert\Plugin\Model\LongCreditFr</model>
                <order_status>pending</order_status>
                <active>1</active>
                <title>Crédit long (FR)</title>
                <allowspecific>0</allowspecific>
                <sort_order>3</sort_order>
            </scalexpert_long_credit_fr>
            <scalexpert_long_credit_fr_with_fees>
                <payment_action>true</payment_action>
                <model>Scalexpert\Plugin\Model\LongCreditFrWithFees</model>
                <order_status>pending</order_status>
                <active>1</active>
                <title>Crédit long (FR)</title>
                <allowspecific>0</allowspecific>
                <sort_order>3</sort_order>
            </scalexpert_long_credit_fr_with_fees>
            <scalexpert_long_credit_fr_without_fees>
                <payment_action>true</payment_action>
                <model>Scalexpert\Plugin\Model\LongCreditFrWithoutFees</model>
                <order_status>pending</order_status>
                <active>1</active>
                <title>Crédit long (FR) sans frais</title>
                <allowspecific>0</allowspecific>
                <sort_order>3</sort_order>
            </scalexpert_long_credit_fr_without_fees>
            <scalexpert_long_credit_de>
                <payment_action>true</payment_action>
                <model>Scalexpert\Plugin\Model\LongCreditDe</model>
                <order_status>pending</order_status>
                <active>1</active>
                <title>Crédit long (DE)</title>
                <allowspecific>0</allowspecific>
                <sort_order>4</sort_order>
            </scalexpert_long_credit_de>
            <scalexpert_long_credit_de_with_fees>
                <payment_action>true</payment_action>
                <model>Scalexpert\Plugin\Model\LongCreditDeWithFees</model>
                <order_status>pending</order_status>
                <active>1</active>
                <title>Crédit long (DE)</title>
                <allowspecific>0</allowspecific>
                <sort_order>4</sort_order>
            </scalexpert_long_credit_de_with_fees>
        </payment>
    </default>
</config>
